<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>editPage</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/xadmin.css">
  <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="/js/xadmin.js"></script>
</head>

<body>
<div class="x-body" style="text-align: center">
  <form class="layui-form">
    <div class="layui-form-item">
      <label for="id" class="layui-form-label">
        <span class="x-red">*</span>编号
      </label>
      <div class="layui-input-inline">
        <input type="text" id="id" name="id" required="" disabled
               autocomplete="off" class="layui-input" th:value="${info.id}">
      </div>
    </div>
    <div class="layui-form-item">
      <label for="empName" class="layui-form-label">
        <span class="x-red">*</span>姓名
      </label>
      <div class="layui-input-inline">
        <input type="text" id="empName" name="name" required="" lay-verify="required"
               autocomplete="off" class="layui-input" th:value="${info.empName}">
      </div>
    </div>
    <div class="layui-form-item">
      <label for="gender" class="layui-form-label">
        <span class="x-red">*</span>性别
      </label>
      <div class="layui-input-inline">
        <input type="text" id="gender" name="name" required="" lay-verify="required"
               autocomplete="off" class="layui-input" th:value="${info.gender}">
      </div>
    </div>
    <div class="layui-form-item">
      <label for="birthDay" class="layui-form-label">
        <span class="x-red">*</span>出生日期
      </label>
      <div class="layui-input-inline">
        <input type="text" id="birthDay" name="name" required="" lay-verify=""
               autocomplete="off" class="layui-input" th:value="${info.birthDay}">
      </div>
    </div>
    <div class="layui-form-item">
      <label for="telNum" class="layui-form-label">
        <span class="x-red">*</span>电话
      </label>
      <div class="layui-input-inline">
        <input type="text" id="telNum" name="name" required="" lay-verify=""
               autocomplete="off" class="layui-input" th:value="${info.telNum}">
      </div>
    </div>
    <div class="layui-form-item">
      <label for="mailNum" class="layui-form-label">
        <span class="x-red">*</span>邮箱
      </label>
      <div class="layui-input-inline">
        <input type="text" id="mailNum" name="name" required="" lay-verify=""
               autocomplete="off" class="layui-input" th:value="${info.mailNum}">
      </div>
    </div>
    <div class="layui-form-item">
      <label for="qualification" class="layui-form-label">
        <span class="x-red">*</span>学历
      </label>
      <div class="layui-input-inline">
        <input type="text" id="qualification" name="name" required="" lay-verify=""
               autocomplete="off" class="layui-input" th:value="${info.qualification}">
      </div>
    </div>
    <div class="layui-form-item">
      <label for="department" class="layui-form-label">
        <span class="x-red">*</span>部门
      </label>
      <div class="layui-input-inline">
        <input type="text" id="department" name="name" required="" lay-verify=""
               autocomplete="off" class="layui-input" th:value="${info.department}">
      </div>
    </div>
    <div class="layui-form-item">
      <label for="job" class="layui-form-label">
        <span class="x-red">*</span>职务
      </label>
      <div class="layui-input-inline">
        <input type="text" id="job" name="name" required="" lay-verify=""
               autocomplete="off" class="layui-input" th:value="${info.job}">
      </div>
    </div>
    <div class="layui-form-item">
      <label for="hireDate" class="layui-form-label">
        <span class="x-red">*</span>入职日期
      </label>
      <div class="layui-input-inline">
        <input type="text" id="hireDate" name="name" required="" lay-verify=""
               autocomplete="off" class="layui-input" th:value="${info.hireDate}">
      </div>
    </div>
    <div class="layui-form-item">
      <label for="state" class="layui-form-label">
        <span class="x-red">*</span>人员状态
      </label>
      <div class="layui-input-inline">
        <input type="text" id="state" name="name" required="" lay-verify=""
               autocomplete="off" class="layui-input" th:value="${info.state}">
      </div>
    </div>
    <div class="layui-form-item">
      <label for="remarks" class="layui-form-label">
        <span class="x-red">*</span>备注
      </label>
      <div class="layui-input-inline">
        <input type="text" id="remarks" name="name" required="" lay-verify=""
               autocomplete="off" class="layui-input" th:value="${info.remarks}">
      </div>
    </div>
    <div class="layui-form-item">
      <button class="layui-btn layui-btn-normal" lay-filter="edit" lay-submit="">
        修改
      </button>
    </div>
  </form>
  <br>
  <span id="info" style="color: red"></span>
</div>
<script>
  layui.use(['form', 'layer'], function () {
    $ = layui.jquery;
    var form = layui.form
            , layer = layui.layer;

    // TODO data.field获取值有问题
    //监听提交
    form.on('submit(edit)', function (data) {
      console.log(data);
      $.ajax({
        url: "/empInfo/editAjax",
        type: "post",
        data: data.field,
        dataType: "json",  //返回的数据类型
        success: function (data) {
          console.log(data);
          if (data.info == "修改成功") {
            $("#info").text(data.info);
            $("#info").css("color", "green");
            let index = parent.layer.getFrameIndex(window.name);
            //关闭当前frame
            parent.layer.close(index);
            //刷新
            parent.window.location.href = parent.window.location.href;
          } else {
            $("#info").text(data.info);
          }
        }
      })
      return false;
    });


  });
</script>
<script>var _hmt = _hmt || [];
(function () {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();</script>
</body>

</html>