<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>人事调配信息</title>
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/xadmin.css">
  <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
  <script src="/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="/js/xadmin.js"></script>
</head>
<body>
<form action="/empInfo/deploymentManagement" class="x-so">
  <select name="condition" id="condition" style="width: 130px;height: 37px;">
    <option value="员工姓名">员工姓名</option>
    <option value="员工编号">员工编号</option>
  </select>
  <input type="text" class="layui-input" name="conValue" placeholder="搜索"
         onfocus="$(this).attr('type',$('#condition').val()==='员工编号'?'number':'text')">
  <input type="submit" class="layui-btn layui-btn-normal" value="查询">
</form>
<button type="button" class="layui-btn layui-btn-normal" onclick="addInfo()">
  <i class="layui-icon">&#xe608;</i> 添加
</button>
<br>
<div class="layui-btn-group">
  <button type="button" class="layui-btn layui-btn-normal" onclick="sortBySD()">入职时间</button>
  <button type="button" class="layui-btn layui-btn-normal" onclick="sortByDD()">调配时间</button>
</div>


<table class="layui-table">
  <thead>
  <th>编号</th>
  <th>员工编号</th>
  <th>原部门</th>
  <th>原职务</th>
  <th>新部门</th>
  <th>新职务</th>
  <th>调配时间</th>
  <th>入职时间</th>
  <th>调配原因</th>
  <th>操作</th>
  </thead>
  <tbody>
  <tr th:each="i:${info.list}">
    <td th:text="${i.deploymentId}"></td>
    <td th:text="${i.empId}"></td>
    <td th:text="${i.originalDep}"></td>
    <td th:text="${i.originalJob}"></td>
    <td th:text="${i.newDep}"></td>
    <td th:text="${i.newJob}"></td>
    <td th:text="${i.deployDate}"></td>
    <td th:text="${i.startDate}"></td>
    <td th:text="${i.deployReason}"></td>
    <td>
      <div class="layui-btn-group">
        <button class="layui-btn layui-btn-normal" type="button" onclick="updateInfo(this)">修改</button>
        <button class="layui-btn layui-btn-danger" type="button" onclick="delInfo(this)">删除</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<div style="text-align: center;">
  <a class="layui-btn layui-btn-normal" th:href="@{/empInfo/deploymentManagement(page=${info.pre},sortType=${sortType})}">上一页</a>
  <a class="layui-btn layui-btn-normal"
     th:href="@{/empInfo/deploymentManagement(page=${info.next},sortType=${sortType})}">下一页</a>
  <br>
  一共有<span th:text="${info.total}"></span>条数据
  一共有<span th:text="${info.totalPage}"></span>页
  当前是<select th:value="${info.cur}"
             onchange="window.location.href = '/empInfo/deploymentManagement?page=' + $(this).val()+'&sortType='
             + getQueryVariable('sortType')"
             style=" width: 100px;height: 37px;">
  <option th:each="i:${#numbers.sequence(1,info.totalPage)}" th:value="${i}" th:text="第+${i}+页"
          th:selected="${i}==${info.cur} ? true:false"></option>
</select>
</div>
</body>
</html>
<script>
  function getQueryVariable(variable) {
    var query = window.location.search.substring(1);
    var vars = query.split("&");
    for (var i = 0; i < vars.length; i++) {
      var pair = vars[i].split("=");
      if (pair[0] == variable) {
        return pair[1];
      }
    }
    return "";
  }

  function setQueryVariableValue(variable, value) {
    var query = window.location.search.substring(1);
    var vars = query.split("&");
    for (var i = 0; i < vars.length; i++) {
      var pair = vars[i].split("=");
      if (pair[0] == variable) {
        pair[1] = value;
        vars[i] = pair.join("=");
        break;
      }
    }
    if (i < vars.length) return vars.join("&");
    else return query + "&" + variable + "=" + value;
  }

  // 打开增加信息页面
  function addInfo() {
    //打开修改弹窗
    x_admin_show("添加", "/empInfo/addDeploymentPage");
  }

  function sortBySD() {
    let sortType = getQueryVariable("sortType");
    let query = "?";
    if (sortType === "" || sortType === "sd") query += setQueryVariableValue("sortType", "sa");
    else query += setQueryVariableValue("sortType", "sd");
    window.location.href = '/empInfo/deploymentManagement' + query;
  }

  function sortByDD() {
    let sortType = getQueryVariable("sortType");
    let query = "?";
    if (sortType === "" || sortType === "dd") query += setQueryVariableValue("sortType", "da");
    else query += setQueryVariableValue("sortType", "dd");
    window.location.href = '/empInfo/deploymentManagement' + query;
  }

  //打开修改页面
  function updateInfo(obj) {
    //获取当前选中行的userId值
    let empId = $(obj).parent().parent().parent().find("td").eq(1).text();
    //打开修改弹窗
    x_admin_show("修改", "/empInfo/editDeploymentPage?empId=" + empId);
  }

  //删除
  function delInfo(obj) {
    let deploymentId = $(obj).parent().parent().parent().find("td").eq(0).text();
    //提示框提示用户是否删除
    layer.confirm("你确定要删除吗？", {icon: 2, title: "警告"}, (index) => {
      $.ajax({
        url: "/empInfo/delDeployment",
        type: "get",
        data: {deploymentId},
        dataType: "json",
        success: (data) => {
          layer.alert(data.info, {icon: 0, title: "提示"});
          if (data.info === "删除成功") {
            // 刷新
            layer.close(index);
            parent.window.location.href = parent.window.location.href;
          }
        }
      });
    });
  }
</script>