* {
    padding: 0px;
    margin: 0px;
}
/*.mainTable {*/
/*    text-align: center;*/
/*}*/
/*.mainTable .title{*/
/*    text-align: center;*/
/*}*/

.box {
    display: inline-block;
    width: 24px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #eee;
    margin: 0 6px;
}